* {
    margin: 0px;
    padding: 0px;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #66ff99 0%, #3366ff 100%);
    height: 300px;
    font-size: 40px;
    margin-bottom: 40px;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#container {
    border: solid black 1px;
    width: 400px;
    height: 400px;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden
    
}

.canvas {
    margin: 0px;
    padding: 0px;
    width: 15px;
    height: 15px;
    border: dotted black 1px;
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box 
}



.gridbutton {
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    background-color: lightblue;
}

.clearcanvasbutton {
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
    background-color: lightblue;
    align-self: center;
}